.benefits {
  margin-bottom: 131px;

  @include laptop {
    margin-bottom: 36px;

    &.section-wrapper {
      padding: 0;
    }
  }
}

.benefits__wrap {
  //max-width: 1262px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
  padding-bottom: 50px;
}

.benefits__title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  transform: translateY(-99%);
  background-color: #ffffff;

  @include laptop {
    position: relative;
    padding: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 0;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}

.benefits__cards {
  display: flex;
  padding: 0 100px;
  flex-wrap: wrap;
  justify-content: space-between;

  @include laptop {
    justify-content: center;
  }
}

.benefits__card {
  min-height: 288px;
  min-width: 220px;
  // width: 30%;
  margin-bottom: 112px;
  // max-width: 317px;
  flex: 0 1 calc(33% - 2em);

  // &:not(:last-child) {
  //   margin-right: 5%;
  // }

  &:nth-child(3n) {
    margin-right: 0;
  }

  // @include laptop {
  //   width: 30%;
  // }

  @include laptop {
    flex: 0 1 calc(60% - 2em);
  }

  @include tablet {
    width: auto;
    max-width: 100%;
  }
}

.benefits__card-pic {
  padding-top: 96px;
  overflow: visible;
  margin-bottom: 37px;
  cursor: pointer;
  transition: transform 0.2s linear;
  touch-action: none;

  &--1 {
    background: transparent url(../img/svg/benefits01.svg) no-repeat left 34px;
    background-size: 66px;

    // @include retina {
    //   background: transparent url(../img/benefit-pic01@2x.png) no-repeat left
    //     34px;
    // }
  }

  &--2 {
    background: transparent url(../img/svg/benefits02.svg) no-repeat left 34px;
    background-size: 65px;

    // @include retina {
    //   background: transparent url(../img/benefit-pic02@2x.png) no-repeat left
    //     34px;
    // }
  }

  &--3 {
    background: transparent url(../img/svg/benefits03.svg) no-repeat left 34px;
    background-size: 58px;

    // @include retina {
    //   background: transparent url(../img/benefit-pic03@2x.png) no-repeat left
    //     34px;
    // }
  }

  @include laptop {
    background-size: 77px;
    background-position: center 34px;
    padding-top: 114px;
  }

  &:hover {
    transition: transform 0.2s linear;
    transform: scale(1.03);
  }
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;

  @include laptop {
    text-align: center;
  }
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  align-self: flex-end;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  @include arrow;
}
