/* Intro styles start */

.intro {
  position: relative;
  // background: url(../img/intro-bg.jpg) no-repeat center;
  // background-size: cover;
  min-height: 100vh;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  //padding-bottom: 223px;

  img {
    // max-width: 100%;
    width: 100%;
    // // avoid stretching, set the height according to the width
    // height: 100%;

    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
    user-select: none;

    @include laptop {
      min-height: 880px;
      position: relative;
    }
  }
  fieldset {
    @include fieldset-reset;
  }
}

.intro__img-wrapper {
  position: relative;
  padding-bottom: 69%;

  @include laptop {
    min-height: 800px;
    padding-bottom: 0;
  }
}

.intro__wrapper {
  position: absolute;
  margin-top: 229px;
  top: 0;
  left: 0;
  width: 100%;
}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;

  @include tablet {
    font-size: 32px;
    line-height: 48px;
  }
}

.intro__subtitle {
  max-width: 546px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;

  @include tablet {
    font-size: 14px;
  }
}

.search-form__info {
  display: flex;
  @include laptop {
    flex-wrap: wrap;
  }

  input {
    @include field-reset;
    min-width: 297px;
    max-width: 100%;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
    border: 0;
    border-bottom: 2px solid #bfc0c5;
    background-size: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    flex-grow: 1;
    word-break: break-all;
    white-space: normal;
    @include transition(border);

    @include laptop {
      background: transparent url(../img/svg/circle-ico.svg) no-repeat left 0;
      margin-bottom: 20px;
    }
    @include tablet {
      width: 100%;
      margin-right: 0;
      min-width: auto;
      padding-bottom: 12px;
    }

    &:hover,
    &:focus {
      outline: 0;
      border-bottom: 2px solid $main-accent-color;
      @include transition(border);
    }
  }
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  opacity: 1;
  @include transition(opacity);

  @include tablet {
    font-size: 16px;
  }
}

.search-form__field:focus::placeholder {
  @include transition(opacity);
  opacity: 0;
}

.search-form__submit {
  @include laptop {
    width: 100%;
  }
}
