.top {
  margin-bottom: 86px;

  @include laptop {
    margin-bottom: 36px;
  }
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top__card-pic {
  max-width: 386px;
  position: relative;
  margin-bottom: 45px;
}

.top__card-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  cursor: pointer;
}

.top__card {
  flex: 0 1 calc(33% - 2em);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @include tablet {
    flex: 0 1 calc(50% - 1em);
  }

  @include mobile {
    flex: 0 1 calc(100%);
  }

  &:hover {
    .top__card-likes svg {
      fill: $accent-color;
    }

    .top__card-comments svg {
      fill: $main-accent-color;
    }
  }

  &:hover {
    .top__card-svg {
      transition: transform 0.2s linear, fill 0.2s linear;
      transform: scale(1.2);
    }
  }
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  // background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}

.top__card-svg {
  transition: transform 0.2s linear, fill 0.2s linear;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-right: 14px;

  svg {
    fill: white;
    margin-left: 5px;
    transform: translateY(2px);
  }
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

  svg {
    fill: white;
    margin-left: 5px;
    transform: translateY(2px);
  }
}

.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more.btn {
  margin-top: auto;
  padding: 12px 19px;
  max-width: 200px;
  font-size: 16px;
  padding: 5px 27px;
  max-width: 149px;
}
