.btn {
  @include transition(box-shadow);
  display: inline-block;
  vertical-align: top;
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(98, 110, 122, 0.2);
  border: 0;
  border-radius: 50px;
  word-break: break-all;
  transition: all 0.3s ease;
  line-height: 21px;
  letter-spacing: 0;
  max-width: 300px;
  white-space: normal;

  &:hover {
    @include transition(box-shadow);
    box-shadow: 0 4px 20px rgba(98, 110, 122, 0.3);
  }

  &:active {
    box-shadow: none;
  }
}
