.btn {
  @include btn-reset;
  display: inline-block;
  vertical-align: top;
  padding: 14px 39px;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  border: 0;
  word-break: break-all;
  letter-spacing: 0;
  white-space: normal;
  text-transform: uppercase;
  background-color: $main-accent-color;

  &--intro {
    flex-shrink: 0;
  }

  @include scale;

  &:active {
    box-shadow: none;
  }
}
