* {
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
  text-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: $main-font;
  min-width: $width-min;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: $main-font-color;
  background-color: #ffffff;
}

main {
  min-height: calc(100vh - 386px);
} /*прижимает футер*/

.container {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 100px;
  background-color: transparent;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  @include mobile {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container-1440 {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

picture {
  display: block;
}

.rub {
  font-family: $main-font;
  font-size: inherit;
  font-weight: inherit;
}

.buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  white-space: nowrap;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;

  @include tablet {
    margin-bottom: 25px;
  }

  &::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: $main-accent-color;
    position: absolute;
    bottom: 0;
    left: 0;

    @include tablet {
      width: 78px;
    }
  }
}

.section-wrapper {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
