//colors

$main-font-color: #102746;
$main-bg-color: #f4f4f9;
$main-accent-color: #006dfe;

//fonts

$main-font: "Lato", "Arial", sans-serif;

// media breakpoints

$width-desktop: 1200px;
$width-laptop: 960px;
$width-tablet: 768px;
$width-min: 320px;

// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
